/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f0f4f8, #c2e9fb);
    color: #333333;
}

/* Cabeçalho */
header {
    text-align: center;
    padding: 30px;
    background-color: #1e1e2f; /* Cinza Escuro */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 3em; /* Aumenta o tamanho da fonte */
    margin-bottom: 10px;
    color: #ff5722; /* Laranja Vivo */
}

.logo img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
}

/* Contêiner principal */
.container {
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

/* Estilos para os blocos de informação */
.info-block, .conversion-block {
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 87, 34, 0.1); /* Laranja Claro */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

.info-block:hover, .conversion-block:hover {
    transform: translateY(-5px);
}

/* Estilos para os títulos */
h2 {
    margin-bottom: 15px;
    color: #ff5722; /* Laranja Vivo */
    font-size: 2em; /* Aumenta o tamanho da fonte */
    text-align: center;

}

h3 {
    margin-bottom: 10px;
    font-size: 1.5em; /* Aumenta o tamanho da fonte */
    color: #1e1e2f; /* Cinza Escuro */
    text-align: center;

}

h4 {
    font-size: 1.2em;
    text-align: center;

}

/* Estilos dos parágrafos */
p {
    margin-bottom: 20px; /* Aumenta o espaçamento entre parágrafos */
    line-height: 1.8; /* Aumenta o espaçamento entre linhas */
    font-size: 1.5em; /* Aumenta o tamanho da fonte dos parágrafos */
    font-weight: bold; /* Aplica negrito ao texto */
    color: #333; /* Muda a cor do texto para um tom mais escuro para melhor contraste */
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra ao texto para destacar */
    text-align: center;
}

/* Estilos dos campos de entrada */
input[type="number"] {
    width: 100%;
    padding: 15px; /* Aumenta o padding */
    margin-top: 10px;
    border: 2px solid #ff5722; /* Borda laranja */
    border-radius: 8px;
    outline: none;
    background-color: #ffffff; /* Fundo branco */
    color: #333333; /* Texto escuro */
    font-size: 1.5em; /* Aumenta o tamanho da fonte */
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #1e1e2f; /* Muda a cor da borda ao focar */
}

/* Estilos adicionais para melhorar a responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    h2, h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.2em; /* Reduz o tamanho da fonte em telas menores */
    }
}
